#book-icon {
  color: white;
  width: 100%;
}
#book-title {
  font-size: 140%;
}

#cart-title {
  font-size: 90%;
}
#cart-title {
  font-size: 90%;
}

#cart-icon {
  color: white;
  width: 140%;
}

@media only screen and (min-width: 320px) and (max-width: 620px) {
  #book-icon {
    color: white;
    width: 70%;
  }
  #book-title {
    font-size: 60%;
  }
  #cart-title {
    font-size: 80%;
  }
  #search-bar {
    width: 200%;
  }
  #search-icon {
    display: none;
  }
  #cart-icon {
    color: white;
    width: 80%;
  }
  #customer-details{
    width: 95%;
  }
  #order-details{
    width: 95%;
  }

  #order-card{
    width: 70%;
  }

  #cart-layout{
    border-color: white;
  }
  #cart-card{
    width: 120%;
  }
  
  #customer-layout{
    // border-color: white;
    width: 120%;
  
  }
  #order-layout{
    border-color: white;
    width: 120%;
  }
  #image {
    width :50%
  }
}
